.nam{
  background-color:lightpink;
  width:30%;
  height:100px;
  float: left;
  margin-left: 2%;
  padding-top: 4%;
  padding-left:2%;
  border: 1px solid black;
  position: relative;
  box-sizing: border-box;
}
.nam1{
  background-color:lightpink;
  width:30%;
  height:100px;
  float: left;
  margin-left:3%;
  padding-top: 4%;
  padding-left:2%;
  border: 1px solid black;
  position: relative;
  box-sizing: border-box;
}
.nam2{
  background-color:lightpink;
  width:30%;
  height:100px;
  float:right;
  margin-right: 2%;
  padding-top: 4%;
  padding-left:2%;
  border: 1px solid black;
  position: relative;
  box-sizing: border-box;
}
.num{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  background-color: yellow;
}
.num1{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  background-color: yellow;
}
.num2{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  background-color: yellow;
}
@media(max-width:991px) and (min-width: 768px){
  .nam{
    width: 40%;
    float: left;
    margin-left:8%
  }
  .nam1{
    width: 40%;
    float: right;
    margin-right:8%
  }
  .nam2{
    width: 85%;
    float:left;
    margin-top:5%;
    margin-left:8%;
  }
}
@media(max-width:767px){
  .nam{
    width: 90%;
    float:left;
    margin-top:5%;
  }
  .nam1{
    width: 90%;
    float:left;
    margin-top: 5%;
  }
  .nam2{
    width: 90%;
    float:left;
    margin-top: 5%;
    margin-left:3%;
  }
}